---
import { getCollection } from "astro:content";
import type DocsTab from "./docs_tab";
import {Language, architecture, defaultLang, explanation, howTo, tutorial } from "../../i18n/ui.ts";
import {getLangCollection, langPath} from "../../i18n/utils.ts"
import { Collection } from "../../content/config";

interface Props {
  tab: DocsTab;
  lang?: undefined | string;
}

// Docs
const tutorialCollection = await getLangCollection(Collection.tutorial);
const howToCollection = await getLangCollection(Collection.how_to);
const explanationCollection = await getLangCollection(Collection.explanation);
const referenceCollection = await getLangCollection(Collection.reference);

// Learn
const rust = await getCollection(Collection.rust);
rust.sort((a, b) => a.data.sortOrder - b.data.sortOrder);

const { tab } = Astro.props;
const lang: Language = Astro.props.lang ?? defaultLang;
---

<aside class="menu is-sticky">
  <!-- Docs -->
  <div id={tab} class="tabs is-centered">
    <ul>
      <li id="docs"><a>Docs</a></li>
      <li id="learn"><a>Learn</a></li>
    </ul>
  </div>
  <div id="docs-menu">
    <p class="menu-label">{tutorial(lang)}</p>
    <ul class="menu-list">
      {
        tutorialCollection[lang]?.map((page) => (
          <li>
            <a href={`/docs/${langPath(lang)}tutorial/${page.slug}`}>{page.data.title}</a>
          </li>
        ))
      }
    </ul>
    <p class="menu-label">{howTo(lang)}</p>
    <ul class="menu-list">
      {
        howToCollection[lang]?.map((page) => (
          <li>
            <a href={`/docs/${langPath(lang)}how-to/${page.slug}`}>{page.data.title}</a>
          </li>
        ))
      }
    </ul>
    <p class="menu-label">{explanation(lang)}</p>
    <ul class="menu-list">
      {
        explanationCollection[lang]?.map((page) => (
          <li>
            <a href={`/docs/${langPath(lang)}explanation/${page.slug}`}>{page.data.title}</a>
          </li>
        ))
      }
    </ul>
    <p class="menu-label">Reference</p>
    <ul class="menu-list">
      <li>
        <a href={`/docs/${langPath(lang)}reference/api`}>REST API</a>
      </li>
      <li>
        <a href={`/docs/${langPath(lang)}reference/architecture`}>{architecture(lang)}</a>
      </li>
      {
        referenceCollection[lang]?.map((page) => (
          <li>
            <a href={`/docs/${langPath(lang)}reference/${page.slug}`}>{page.data.title}</a>
          </li>
        ))
      }
    </ul>
  </div>
  <!-- Learn -->
  <div id="learn-menu">
    <p class="menu-label">Benchmarking</p>
    <p>Rust</p>
    <ul class="menu-list">
      {
        rust.map((page) => (
          <li>
            <a href={`/learn/benchmarking/rust/${page.slug}`}>{page.data.title}</a>
          </li>
        ))
      }
    </ul>
  </div>
</aside>
<script >
  import DocsTab from "./docs_tab";

  // Find all buttons with the `alert` class on the page.
  const docs = document.getElementById("docs");
  const learn = document.getElementById("learn");
  const docsMenu = document.getElementById("docs-menu");
  const learnMenu = document.getElementById("learn-menu");

  function setDocs() {
    docs?.classList.add("is-active");
    learn?.classList.remove("is-active");

    docsMenu.style.display = "block";
    learnMenu.style.display = "none";
  }

  function setLearn() {
    docs?.classList.remove("is-active");
    learn?.classList.add("is-active");

    docsMenu.style.display = "none";
    learnMenu.style.display = "block";
  }

  if (document.getElementById(DocsTab.Docs)) {
    setDocs();
  } else if (document.getElementById(DocsTab.Learn)) {
    setLearn();
  }

  docs?.addEventListener("click", () => {
    setDocs();
  });
  learn?.addEventListener("click", () => {
    setLearn();
  });
</script>