---
import DocsLayout from "../../layouts/docs/DocsLayout.astro";
import { Language, defaultLang } from "../../i18n/ui";
import DocsList from "./menu/DocsList.astro";

interface Props {
	lang: undefined | string;
}
const lang: Language = Astro.props.lang ?? defaultLang;

const title = () => {
	switch (lang) {
		case Language.en:
			return "Bencher Docs";
		case Language.de:
			return "Bencher Dokumentation";
		case Language.es:
			return "Documentos de Bencher";
		case Language.fr:
			return "Documents de Bencher";
		case Language.ja:
			return "ベンチャーのドキュメント";
		case Language.ko:
			return "Bencher 문서";
		case Language.pt:
			return "Documentação da Bencher";
		case Language.ru:
			return "Документация Bencher";
		case Language.zh:
			return "Bencher 文档";
	}
};

const description = () => {
	switch (lang) {
		case Language.en:
			return "Table of contents for the Bencher documentation. Learn how to setup continuous benchmarking for your project.";
		case Language.de:
			return "Inhaltsverzeichnis der Bencher Dokumentation. Erfahren Sie, wie Sie ein kontinuierliches Benchmarking für Ihr Projekt einrichten.";
		case Language.es:
			return "Índice de contenidos de la documentación de Bencher. Aprenda a configurar evaluaciones comparativas continuas para su proyecto.";
		case Language.fr:
			return "Table des matières de la documentation Bencher. Découvrez comment configurer une analyse comparative continue pour votre projet.";
		case Language.ja:
			return "ベンチャー ドキュメントの目次。 プロジェクトの継続的なベンチマークを設定する方法を学びます。";
		case Language.ko:
			return "Bencher 문서의 목차. 프로젝트에 대한 지속적인 벤치마킹을 설정하는 방법을 알아보십시오.";
		case Language.pt:
			return "Índice da documentação do Bencher. Aprenda como configurar benchmarking contínuo para seu projeto.";
		case Language.ru:
			return "Оглавление документации Bencher. Узнайте, как настроить непрерывный бенчмаркинг для вашего проекта.";
		case Language.zh:
			return "Bencher 文档的目录。 了解如何为您的项目设置持续的基准测试。";
	}
};
---

<DocsLayout
  title={title()}
  description={description()}
  heading={title()}
  published="2023-08-12T21:07:00Z"
  modified="2024-03-27T07:50:00Z"
  lang={lang}
>
  <nav class="menu">
    <DocsList lang={lang} />
  </nav>
</DocsLayout>
