---
import { getCollection } from "astro:content";
import DocsLayout from "../../layouts/docs/DocsLayout.astro";
import {getLangCollection, langPath} from "../../i18n/utils.ts"
import { Language, allLanguages, defaultLang, explanation, howTo, languageName, tutorial } from "../../i18n/ui";
import { Collection } from "../../content/config";

interface Props {
  lang: undefined | string;
}
const lang: Language = Astro.props.lang ?? defaultLang;

const tutorialCollection = await getLangCollection(Collection.tutorial);
const howToCollection = await getLangCollection(Collection.how_to);
const explanationCollection = await getLangCollection(Collection.explanation);

const reference = await getCollection(Collection.reference);
reference.sort((a, b) => a.data.sortOrder - b.data.sortOrder);

const title = () => {
  switch(lang) {
    case Language.en:
      return "Bencher Docs";
    case Language.de:
      return "Bencher Dokumentation";
    case Language.es:
      return "Documentos de Bencher";
    case Language.fr:
      return "Documents de Bencher";
    case Language.ja:
      return "ベンチャーのドキュメント";
    case Language.ko:
      return "Bencher 문서";
    case Language.pt:
      return "Documentação da Bencher";
    case Language.ru:
      return "Документация Bencher";
    case Language.zh:
      return "Bencher 文档";
  }
};

const description = () => {
  switch (lang) {
    case Language.en:
      return "Table of contents for the Bencher documentation. Learn how to setup continuous benchmarking for your project.";
    case Language.de:
      return "Inhaltsverzeichnis der Bencher Dokumentation. Erfahren Sie, wie Sie ein kontinuierliches Benchmarking für Ihr Projekt einrichten.";
    case Language.es:
      return "Índice de contenidos de la documentación de Bencher. Aprenda a configurar evaluaciones comparativas continuas para su proyecto.";
    case Language.fr:
      return "Table des matières de la documentation Bencher. Découvrez comment configurer une analyse comparative continue pour votre projet.";
    case Language.ja:
      return "ベンチャー ドキュメントの目次。 プロジェクトの継続的なベンチマークを設定する方法を学びます。"
    case Language.ko:
      return "Bencher 문서의 목차. 프로젝트에 대한 지속적인 벤치마킹을 설정하는 방법을 알아보십시오.";
    case Language.pt:
      return "Índice da documentação do Bencher. Aprenda como configurar benchmarking contínuo para seu projeto.";
    case Language.ru:
      return "Оглавление документации Bencher. Узнайте, как настроить непрерывный бенчмаркинг для вашего проекта.";
    case Language.zh:
      return "Bencher 文档的目录。 了解如何为您的项目设置持续的基准测试。";
  }
}

const alsoIn = () => {
  switch (lang) {
    case Language.en:
      return "Also available in:";
    case Language.de:
      return "Auch erhältlich in:";
    case Language.es:
      return "También disponible en:";
    case Language.fr:
      return "Également disponible en:";
    case Language.ja:
      return "以下でも利用可能です:";
    case Language.ko:
      return "다음에서도 사용 가능:";
    case Language.pt:
      return "Também disponível em:";
    case Language.ru:
      return "Также доступно в:";
    case Language.zh:
      return "也可用于:";
  }
}
---

<DocsLayout title={title()} description={description()} heading={title()} lang={lang}>
  <div class="menu">
    <p class="menu-label">{tutorial(lang)}</p>
    <ul class="menu-list">
      {
        tutorialCollection[lang]?.map((page) => (
          <li>
            <a href={`/docs/${langPath(lang)}tutorial/${page.slug}`}>{page.data.title}</a>
          </li>
        ))
      }
    </ul>
    <p class="menu-label">{howTo(lang)}</p>
    <ul class="menu-list">
      {
        howToCollection[lang]?.map((page) => (
          <li>
            <a href={`/docs/${langPath(lang)}how-to/${page.slug}`}>{page.data.heading}</a>
          </li>
        ))
      }
    </ul>
    <p class="menu-label">{explanation(lang)}</p>
    <ul class="menu-list">
      {
        explanationCollection[lang]?.map((page) => (
          <li>
            <a href={`/docs/${langPath(lang)}explanation/${page.slug}`}>{page.data.heading}</a>
          </li>
        ))
      }
    </ul>
    <p class="menu-label">Reference</p>
    <ul class="menu-list">
      <li>
        <a href="/docs/reference/api">REST API</a>
      </li>
      <li>
        <a href="/docs/reference/architecture">Architecture</a>
      </li>
      {
        reference.map((page) => (
          <li>
            <a href={`/docs/reference/${page.slug}`}>{page.data.heading}</a>
          </li>
        ))
      }
    </ul>
  </div>
  <h3 class="title is-3">{alsoIn()}</h3>
  <ul>
    {allLanguages.map((language) =>
       lang !== language &&
        <li>
          <a href={`/docs/${langPath(language)}`}>{languageName(language)}</a>
        </li>
    )}
  </ul>
</DocsLayout>
