---
export const prerender = false;

import BaseLayout from "../../../layouts/BaseLayout.astro";
import type { JsonProject } from "../../../types/bencher";
import PerfPanel from "../../../components/console/perf/PerfPanel";

const BENCHER_API_URL = import.meta.env.BENCHER_API_URL;
const params = Astro.params;
const getProjectUrl =  `${BENCHER_API_URL}/v0/projects/${params.project}`;

const projectResponse = await fetch(getProjectUrl);
const jsonProject: JsonProject = await projectResponse.json();

const title = `${jsonProject.name}`;
const description = `View ${jsonProject.name} continuous benchmarking results and performance regressions on Bencher`;

// GitHub query for use of embeds:
// /https:\/\/bencher.dev\/perf\/.*\/embed/
---

<BaseLayout
  title={title}
  titleFmt={(title) => `📈 ${title}`}
  description={description}
>
    <div slot="navbar"></div>
    <PerfPanel
      client:only="solid-js"
      apiUrl={BENCHER_API_URL}
      params={params}
      project={jsonProject}
      isEmbed={true}
    />
    <div slot="footer"></div>
</BaseLayout>
