---
export const prerender = false;

import BaseLayout from "../../../layouts/BaseLayout.astro";
import type { JsonProject } from "../../../types/bencher";
import PerfPanel from "../../../components/console/perf/PerfPanel";
import { fetchSSR, hasPerfImage } from "../../../components/perf/util";

// Using `meta.env` requires `prerender = false`
const BENCHER_API_URL = import.meta.env.BENCHER_API_URL;
const INTERNAL_API_URL = import.meta.env.INTERNAL_API_URL;
const params = Astro.params;
const getProjectUrl =  `${INTERNAL_API_URL ?? BENCHER_API_URL}/v0/projects/${params.project}`;

let jsonProject: undefined | JsonProject;
let title: string;
let description: string;
let notFound: boolean = false;
try {
  const projectResponse = await fetchSSR(getProjectUrl);
  jsonProject = await projectResponse.json();
  if (jsonProject?.uuid) {
    title = `${jsonProject?.name}`;
    description = `View ${jsonProject?.name} continuous benchmarking results and performance regressions on Bencher`;
  } else {
    title = "Not Found";
    description = "Public Project not found";
    notFound = true;
  }
} catch (e) {
  console.error(`Failed to fetch project data: ${e}`);
  title = "Public Project";
  description = "View continuous benchmarking results and performance regressions";
}

let image: undefined | string;
if (hasPerfImage(Astro.url)) {
  image = `${INTERNAL_API_URL ?? BENCHER_API_URL}/v0/projects/${params.project}/perf/img${Astro.url.search}`;
}

// GitHub query for use of embeds:
// /https:\/\/bencher.dev\/perf\/.*\/embed/
---

<BaseLayout
  title={title}
  titleFmt={(title) => `📈 ${title}`}
  description={description}
  perfImage={image}
  canonical={`/perf/${params.project}`}
>
    <div slot="navbar"></div>
    <PerfPanel
      client:only="solid-js"
      apiUrl={BENCHER_API_URL}
      params={params}
      project={jsonProject}
      isEmbed={true}
    />
    {notFound && (
      <div class="container box">
        <div class="columns is-centered">
          <div class="column is-narrow">
            <h2 class="title is-2">Project Not Found</h1>
            <hr />
            <p>Could not find Project: <code>{params.project}</code></p>
            <p>The Project may be private or it may not exist.</p>
          </div>
        </div>
      </div>
    )}
    <div slot="footer"></div>
</BaseLayout>
