---
import BaseLayout from "../BaseLayout.astro";

interface Props {
	title: string;
	titleFmt?: (title: string) => string;
	description: string;
	heading: string;
	published?: undefined | string;
	modified?: undefined | string;
}

const { title, titleFmt, description, heading, published, modified } =
	Astro.props;
---

<BaseLayout
  title={title}
  titleFmt={titleFmt ?? ((title) => `⚖️ ${title}`)}
  description={description}
  published={published}
  modified={modified}
>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="content">
            <h1 class="title is-1">{heading}</h1>
            <hr />
            <slot />
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
