---
import BaseLayout from "../layouts/BaseLayout.astro";
import Toolbox from "../components/landing/Toolbox";
import { BENCHER_CALENDLY_URL } from "../util/ext";
import AuthRedirect from "../components/auth/AuthRedirect";

const title = "";
---

<BaseLayout title={title}>
  <AuthRedirect client:only path="/console/organizations" />
  <section class="section is-medium">
    <div class="container">
      <div class="columns is-centered is-vcentered">
        <div class="column is-half">
          <div class="content has-text-centered">
            <h1 class="title">Catch Performance Regressions in CI</h1>
            <h4 class="subtitle">
              Bencher is the all-in-one continuous benchmarking solution for any
              project. Detect and prevent performance regressions before they
              make it to production.
            </h4>

            <div class="columns is-centered">
              <div class="column is-one-fourth"></div>

              <div class="column is-one-fourth">
                <a
                  class="button is-primary is-large is-responsive is-fullwidth"
                  href="/pricing"
                >
                  Start Now
                </a>
              </div>

              <div class="column is-one-fourth">
                <a
                  class="button is-inverted is-large is-responsive is-fullwidth"
                  href={BENCHER_CALENDLY_URL}
                  target="_blank"
                  rel="noreferrer"
                >
                  Talk to an engineer
                </a>
              </div>

              <div class="column is-one-fourth"></div>
            </div>
          </div>
        </div>
        <div class="column">
          <video
            autoplay={true}
            loop={true}
            muted={true}
            style="pointer-events: none;border: 0.2em solid #ed6704;"
            poster="https://s3.amazonaws.com/public.bencher.dev/demo/bencher_demo_cover.png"
          >
            <source
              src="https://s3.amazonaws.com/public.bencher.dev/demo/bencher_demo_1080.mp4"
              type="video/mp4"
            />
          </video>
        </div>
      </div>
    </div>

    <br />
    <br />
    <br />
    <hr />

    <section class="section">
      <div class="container">
        <div class="columns is-centered">
          <div class="column">
            <h2 class="title">How It Works</h2>
          </div>
        </div>
        <br />
        <br />
        <div class="columns is-centered">
          <div class="column">
            <div class="columns">
              <div class="column">
                <div class="content has-text-centered">
                  <span class="icon has-text-primary">
                    <i class="fas fa-tachometer-alt fa-5x" aria-hidden="true"
                    ></i>
                  </span>
                  <h5 class="title">Run your benchmarks</h5>
                </div>
                <div class="content">
                  <p>
                    Run your benchmarks locally or in CI using your favorite
                    benchmarking tools. The <code>bencher</code> CLI simply wraps
                    your existing benchmark harness and stores its results.
                  </p>
                  <br />
                </div>
              </div>
            </div>
          </div>
          <br />
          <div class="column">
            <div class="columns">
              <div class="column">
                <div class="content has-text-centered">
                  <span class="icon has-text-primary">
                    <i class="fas fa-chart-line fa-5x" aria-hidden="true"></i>
                  </span>
                  <h5 class="title">Track your benchmarks</h5>
                </div>
                <div class="content">
                  <p>
                    Track the results of your benchmarks over time. Monitor,
                    query, and graph the results using the Bencher web console
                    based on the source branch and testbed.
                  </p>
                </div>
                <br />
              </div>
            </div>
          </div>
          <br />
          <div class="column">
            <div class="columns">
              <div class="column">
                <div class="content has-text-centered">
                  <span class="icon has-text-primary">
                    <i class="fas fa-bell fa-5x" aria-hidden="true"></i>
                  </span>
                  <h5 class="title">Catch performance regressions</h5>
                </div>
                <div class="content">
                  <p>
                    Catch performance regressions in CI. Bencher uses state of
                    the art, customizable analytics to detect performance
                    regressions before they make it to production.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <hr />
    <br />
    <Toolbox />
    <br />
    <hr />

    <section class="section">
      <div class="container">
        <div class="columns is-centered">
          <div class="column">
            <h2 class="title">Hosting</h2>
          </div>
        </div>
        <br />
        <br />
        <div class="columns is-centered">
          <div class="column">
            <div class="columns">
              <div class="column">
                <div class="content has-text-centered">
                  <h2 class="subtitle">Self-Hosted</h2>
                  <br />
                  <br />
                  <br />
                  <span class="icon has-text-primary">
                    <i class="fas fa-server fa-10x" aria-hidden="true"></i>
                  </span>
                </div>
                <div class="content">
                  <p>
                    Run Bencher on-prem or in your own cloud. Bencher can be
                    deployed on a standalone server, in a Docker container, or
                    as part of a Kubernetes cluster.
                  </p>
                  <br />
                </div>
                <a class="button is-fullwidth" href="/docs/tutorial/docker">
                  Learn More
                </a>
              </div>
            </div>
          </div>

          <div class="is-divider-vertical" data-content="OR"></div>

          <div class="column">
            <div class="columns">
              <div class="column">
                <div class="content has-text-centered">
                  <h2 class="subtitle">Bencher Cloud</h2>
                  <br />
                  <br />
                  <br />
                  <span class="icon has-text-primary">
                    <i class="fas fa-cloud fa-10x" aria-hidden="true"></i>
                  </span>
                </div>
                <div class="content">
                  <p>
                    It's {new Date().getFullYear()}, who wants to manage yet
                    another service‽ Let us take care of that for you. All of
                    the same great features with none of the hassle.
                  </p>
                  <br />
                </div>
                <a class="button is-fullwidth" href="/pricing"> Get Started</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <br />
    <hr />

    <section class="section">
      <div class="container">
        <div class="columns is-centered">
          <div class="column">
            <h2 class="title">Share Your Benchmarks</h2>
          </div>
        </div>
        <div class="columns is-centered">
          <div class="column">
            <div class="content">
              <p>
                All public projects have their own{" "}
                <a href="/perf">perf page</a>. These results can easily be
                shared with an auto-updating perf image. Perfect for your
                README!
              </p>
            </div>
          </div>
        </div>
        <div class="columns is-centered">
          <div class="column">
            <div class="content has-text-centered">
              <a
                href="/perf/bencher?key=true&metric_kind=latency&tab=benchmarks&testbeds=0d991aac-b241-493a-8b0f-8d41419455d2&branches=619d15ed-0fbd-4ccb-86cb-fddf3124da29&benchmarks=3525f177-fc8f-4a92-bd2f-dda7c4e15699%2C1db23e93-f909-40aa-bf42-838cc7ae05f5&start_time=1674950400000"
              >
                <img
                  style="border: 0.2em solid #ed6704;"
                  src="https://api.bencher.dev/v0/projects/bencher/perf/img?branches=619d15ed-0fbd-4ccb-86cb-fddf3124da29&testbeds=0d991aac-b241-493a-8b0f-8d41419455d2&benchmarks=3525f177-fc8f-4a92-bd2f-dda7c4e15699%2C1db23e93-f909-40aa-bf42-838cc7ae05f5&metric_kind=latency&start_time=1674950400000&title=Benchmark+Adapter+Comparison"
                  title="Benchmark Adapter Comparison"
                  alt="Benchmark Adapter Comparison for Bencher - Bencher"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</BaseLayout>
