---
import DocsLayout from "../../../layouts/docs/DocsLayout.astro";
import { Content } from "../../../content/tutorial/en/quick-start.mdx";
import * as quickStart from "../../../content/tutorial/en/quick-start.mdx";
import AuthOverride from "../../../components/auth/AuthOverride";
import { signupId } from "../../../i18n/ui";
import { Collection } from "../../../content/config";

const collection = Collection.tutorial;
---

<DocsLayout
  title={quickStart.frontmatter.title}
  description={quickStart.frontmatter.description}
  heading={quickStart.frontmatter.heading}
  collection={collection}
  slug="quick-start"
>
  <Content />
  <AuthOverride client:only="solid-js" elementId={signupId}>
    <h4 id={signupId}>✅ You are signed up for Bencher Cloud</h4>
  </AuthOverride>
</DocsLayout>
