---
import DocsLayout from "../../../layouts/docs/DocsLayout.astro";
import { Content } from "../../../content/tutorial/quick-start.mdx";
import * as quickStart from "../../../content/tutorial/quick-start.mdx";
import AuthOverride from "../../../components/auth/AuthOverride";
import AddAnApiToken from "../../../components/docs/override/AddAnApiToken";

const signupId = "signup-for-bencher-cloud";
const tokenId = "add-an-api-token";
---

<DocsLayout
  title={quickStart.frontmatter.title}
  description={quickStart.frontmatter.description}
  heading={quickStart.frontmatter.heading}
>
  <Content />
  <AuthOverride client:only elementId={signupId}>
    <h4 id={signupId}>✅ You are signed up for Bencher Cloud</h4>
  </AuthOverride>
  <AuthOverride client:only elementId={tokenId}>
    <h4 id={tokenId}>
      <AddAnApiToken client:only />
    </h4>
  </AuthOverride>
</DocsLayout>
