---
import { getEnCollection, langPath } from "../../../i18n/utils.ts";
import Collection, { collectionPath } from "../../../util/collection.ts";

interface Props {
	lang: string;
}

// Api
const apiOrganizationsCollection = await getEnCollection(
	Collection.api_organizations,
);
const apiProjectsCollection = await getEnCollection(Collection.api_projects);
const apiUsersCollection = await getEnCollection(Collection.api_users);
const apiServerCollection = await getEnCollection(Collection.api_server);

const { lang } = Astro.props;
---

{[
    {
      label: "Organizations",
      collection: Collection.api_organizations,
      content: apiOrganizationsCollection,
    },
    {
      label: "Projects",
      collection: Collection.api_projects,
      content: apiProjectsCollection,
    },
    {
      label: "Users",
      collection: Collection.api_users,
      content: apiUsersCollection,
    },
    {
      label: "Server",
      collection: Collection.api_server,
      content: apiServerCollection,
    }
].map(({ label, collection, content }) => (
  <p class="menu-label">{label}</p>
  <ul class="menu-list">
    {
      content?.map((page) => (
        <li>
          <a href={`/${langPath(lang)}docs/api/${collectionPath(collection)}/${page.slug}/`}>{page.data.title}</a>
        </li>
      ))
    }
  </ul>
))}