---
export const prerender = false;

import AuthLayout from "../../layouts/auth/AuthLayout.astro";
import AuthForm from "../../components/auth/AuthForm";
import AuthRedirect from "../../components/auth/AuthRedirect";

const BENCHER_API_URL = import.meta.env.BENCHER_API_URL;
const title = "Log in";
const description = "Log in to Bencher and monitor your continuous benchmarking";
---

<AuthLayout title={title} description={description}>
  <AuthRedirect client:only="solid-js" path="/console" />

  <h1 class="title is-1">{title}</h1>

  <AuthForm client:only="solid-js" apiUrl={BENCHER_API_URL} newUser={false} />

  <hr />

  <p class="has-text-centered">
    <small>
      switch to <a href="/auth/signup">sign up</a>
    </small>
  </p>
</AuthLayout>
