---
import { Image } from "astro:assets";

import {
	BENCHER_GITHUB_URL,
	BENCHER_WORDMARK,
	BENCHER_WORDMARK_ID,
} from "../../util/ext";
import { BENCHER_NAVBAR_BURGER_ID, BENCHER_NAVBAR_MENU_ID } from "./id";
import ThemeToggle from "./theme/ThemeToggle.astro";
import NavbarHelp from "./NavbarHelp.astro";
import AuthButtons from "./AuthButtons";
import PricingLink from "./PricingLink";
import GitHubLink from "./GitHubLink";
---

<nav
	class="navbar"
	role="navigation"
	aria-label="main navigation"
>
	<div class="navbar-brand">
		<a
			class="navbar-item"
			title="Bencher - Continuous Benchmarking"
			href="/"
		>
			<Image id={BENCHER_WORDMARK_ID} src={BENCHER_WORDMARK} width="150" height="28.25" alt="ðŸ° Bencher" />
		</a>

		<button
			id={BENCHER_NAVBAR_BURGER_ID}
			class="navbar-burger"
      		type="button"
			aria-label="menu"
			aria-expanded="false"
		>
			<span aria-hidden="true" />
			<span aria-hidden="true" />
			<span aria-hidden="true" />
		</button>
	</div>

	<div class="navbar-menu" id={BENCHER_NAVBAR_MENU_ID}>
		<div class="navbar-start">
			<a class="navbar-item" href="/docs/">
				Docs
			</a>

			<a class="navbar-item" href="/explore/">
				Explore
			</a>
			<PricingLink client:only="solid-js">
				<a slot="fallback" class="navbar-item" href="/pricing/">
					Pricing
				</a>
			</PricingLink>
			<GitHubLink client:only="solid-js">
				<a slot="fallback"
						class="navbar-item"
						href={BENCHER_GITHUB_URL}
						target="_blank"
						rel="noreferrer"
					>
						GitHub
				</a>
			</GitHubLink>
		</div>

		<div class="navbar-end">
			<div class="navbar-item">
				<div class="navbar-item">
					<ThemeToggle />
				</div>
				<div class="navbar-item">
					<NavbarHelp />
				</div>
				<div class="navbar-item" />
				<div class="navbar-item">
					<AuthButtons client:only="solid-js">
						<div slot="fallback">
							<div class="buttons">
								<a class="button" href="/auth/login">
									Log in
								</a>
								<a class="button is-primary" href="/auth/signup">
									<strong>Sign up</strong>
								</a>
							</div>
						</div>
					</AuthButtons>
				</div>
			</div>
		</div>
	</div>
</nav>
<script >
	import { BENCHER_NAVBAR_BURGER_ID, BENCHER_NAVBAR_MENU_ID }  from "./id";

	const burger = document.getElementById(BENCHER_NAVBAR_BURGER_ID);
	const menu = document.getElementById(BENCHER_NAVBAR_MENU_ID);

	function setClosed() {
		burger?.classList.remove("is-active");
		menu?.classList.remove("is-active");
	}

	function setOpen() {
		burger?.classList.add("is-active");
		menu?.classList.add("is-active");
	}

	let isClosed = true;
	burger?.addEventListener("click", () => {
		if (isClosed) {
			setOpen();
		} else {
			setClosed();
		}
		isClosed = !isClosed;
	});
</script>