---
import { SEO } from "astro-seo";
import "../styles/styles.scss";
import Navbar from "../components/site/navbar/Navbar";
import Footer from "../components/site/Footer";
import { BENCHER_TITLE, BENCHER_DESCRIPTION } from "../util/resource";
import { BENCHER_LOGO_URL } from "../util/ext";
import { defaultLang } from "../i18n/ui.ts";
// import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
  titleFmt?: undefined | ((title: string) => string);
  description: string;
  lang?: undefined | string;
}

// https://docs.astro.build/en/reference/directives-reference/#definevars
const PUBLIC_GOOGLE_ANALYTICS_ID = import.meta.env.PUBLIC_GOOGLE_ANALYTICS_ID;
const { title, titleFmt, description, lang } = Astro.props;
---

<!DOCTYPE html>
<html lang={lang ?? defaultLang}>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="theme-color" content="#ffffff" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={title}
      titleTemplate={title === BENCHER_TITLE ? "%s" : `%s | ${BENCHER_TITLE}`}
      titleDefault={BENCHER_TITLE}
      description={description ?? BENCHER_DESCRIPTION}
      openGraph={{
        basic: {
          title: titleFmt ? titleFmt(title) : title,
          type: "website",
          image: BENCHER_LOGO_URL,
        },
        optional: {
          siteName: "ðŸ° Bencher",
          description: description ?? BENCHER_DESCRIPTION,
        },
      }}
      twitter={{
        creator: "@bencherdev",
      }}
    />
    <!-- https://devicon.dev/ -->
    <link
      rel="preload"
      href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css"
      as="style"
      onload="this.onload = null; this.rel = 'stylesheet'"
    />
    <noscript>
      <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css"
      />
    </noscript>
    <!-- font awesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>
    <!-- Google tag (gtag.js) -->
    <script
      type="text/partytown"
      src={`https://www.googletagmanager.com/gtag/js?id=${PUBLIC_GOOGLE_ANALYTICS_ID}`}
    ></script>
    <script define:vars={{ PUBLIC_GOOGLE_ANALYTICS_ID }} type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", PUBLIC_GOOGLE_ANALYTICS_ID);
    </script>
    <!-- <ViewTransitions /> -->
  </head>
  <body>
    <slot name="navbar">
      <Navbar client:load />
    </slot>
    <main>
      <slot />
    </main>
    <slot name="footer">
      <Footer />
    </slot>
  </body>
</html>
