---
import { SEO } from "astro-seo";
import "../styles/styles.scss";
import Navbar from "../components/navbar/Navbar.astro";
import Footer from "../components/site/Footer.astro";
import { BENCHER_TITLE, BENCHER_DESCRIPTION } from "../util/resource";
import { BENCHER_SITE_URL } from "../util/ext";
import { defaultLang } from "../i18n/ui.ts";
import { Author, TWITTER_BENCHER, twitter } from "../components/docs/author";
// import { ViewTransitions } from "astro:transitions";

interface Props {
	title: string;
	titleFmt?: undefined | ((title: string) => string);
	description: string;
	published?: undefined | string;
	modified?: undefined | string;
	perfImage?: undefined | string;
	lang?: undefined | string;
	author?: undefined | Author;
	canonical?: undefined | string;
}

// https://docs.astro.build/en/reference/directives-reference/#definevars
const PUBLIC_GOOGLE_ANALYTICS_ID = import.meta.env.PUBLIC_GOOGLE_ANALYTICS_ID;
const {
	title,
	titleFmt,
	description,
	published,
	modified,
	perfImage,
	lang,
	author,
	canonical,
} = Astro.props;

const BENCHER_OG_IMAGE =
	"https://s3.amazonaws.com/public.bencher.dev/img/bencher-og-image.png";

const imageUrl = () => {
	if (perfImage) {
		return perfImage;
	}
	return BENCHER_OG_IMAGE;
};

const imageAlt = () => {
	if (perfImage) {
		return `Track the performance for ${title}`;
	}
	return "ðŸ° Bencher";
};

const image = () => {
	if (perfImage) {
		return {
			url: imageUrl(),
			type: "image/jpg",
			width: 1024,
			height: 768,
			alt: imageAlt(),
		};
	}
	return {
		url: imageUrl(),
		type: "image/png",
		width: 1200,
		height: 630,
		alt: imageAlt(),
	};
};

const article = () => {
	const article: {
		publishedTime?: string;
		modifiedTime?: string;
		expirationTime?: string;
		authors?: string[];
		section?: string;
		tags?: string[];
	} = {};
	if (published) {
		article.publishedTime = published;
	}
	if (modified) {
		article.modifiedTime = modified;
	}
	if (author) {
		article.authors = [author];
		article.section = "Technology";
		article.tags = [
			"Technology",
			"Software",
			"Programming",
			"Benchmarks",
			"Benchmarking",
			"Performance",
			"Continuous Integration",
			"Continuous Benchmarking",
		];
	}
	return article;
};
---

<!DOCTYPE html>
<html lang={lang ?? defaultLang}>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="theme-color" content="#ffffff" />
    <link rel="icon" href="/favicon.png" sizes="48x48" type="image/png">
    <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml">
    <link rel="apple-touch-icon" href="https://s3.amazonaws.com/public.bencher.dev/img/apple-touch-icon.png"/>
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={title}
      titleTemplate={title === BENCHER_TITLE ? "%s" : `%s | ${BENCHER_TITLE}`}
      titleDefault={BENCHER_TITLE}
      description={description ?? BENCHER_DESCRIPTION}
      canonical={canonical ?? `${BENCHER_SITE_URL}${Astro.url.pathname}`}
      openGraph={{
        basic: {
          title: titleFmt ? titleFmt(title) : title,
          type: "website",
          image: imageUrl(),
        },
        optional: {
          siteName: "ðŸ° Bencher",
          description: description ?? BENCHER_DESCRIPTION,
        },
        image: image(),
        article: article(),
      }}
      twitter={{
        card: "summary_large_image",
        site: TWITTER_BENCHER,
        creator: author ? twitter(author) : TWITTER_BENCHER,
        title: titleFmt ? titleFmt(title) : title,
        description: description ?? BENCHER_DESCRIPTION,
        image: imageUrl(),
        imageAlt: imageAlt(),
      }}
    />
    <!-- https://devicon.dev/ -->
    <link
      rel="preload"
      href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css"
      as="style"
      onload="this.onload = null; this.rel = 'stylesheet'"
    />
    <noscript>
      <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css"
      />
    </noscript>
    <!-- font awesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>
    <!-- Google tag (gtag.js) -->
    <script
      type="text/partytown"
      src={`https://www.googletagmanager.com/gtag/js?id=${PUBLIC_GOOGLE_ANALYTICS_ID}`}
    ></script>
    <script define:vars={{ PUBLIC_GOOGLE_ANALYTICS_ID }} type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", PUBLIC_GOOGLE_ANALYTICS_ID);
    </script>
    <!-- <ViewTransitions /> -->
  </head>
  <body>
    <slot name="navbar">
      <Navbar />
    </slot>
    <main>
      <slot />
    </main>
    <slot name="footer">
      <Footer />
    </slot>
  </body>
</html>
