---
export const prerender = false;

import PerfLayout from "../../../../layouts/perf/PerfLayout.astro";
import type { JsonThreshold } from "../../../../types/bencher";
import PublicThreshold from "../../../../components/perf/PublicThreshold";
import Tetris from "../../../../components/site/Tetris.astro";
import { fetchSSR } from "../../../../components/perf/util";

// Using `meta.env` requires `prerender = false`
const BENCHER_API_URL = import.meta.env.BENCHER_API_URL;
const INTERNAL_API_URL = import.meta.env.INTERNAL_API_URL;
const params = Astro.params;

const getThresholdUrl = `${INTERNAL_API_URL ?? BENCHER_API_URL}/v0/projects/${
	params.project
}/thresholds/${params.threshold}`;

let jsonThreshold: undefined | JsonThreshold;
let title: string;
let description: string;
let notFound: boolean = false;
try {
	const thresholdResponse = await fetchSSR(getThresholdUrl);
	jsonThreshold = await thresholdResponse.json();
	if (jsonThreshold?.uuid) {
		title = `${jsonThreshold?.branch?.name} | ${jsonThreshold?.testbed?.name} | ${jsonThreshold?.measure?.name}`;
		description = "View a continuous benchmarking threshold on Bencher";
	} else {
		title = "Not Found";
		description = "Public Project Threshold not found";
		notFound = true;
	}
} catch (e) {
	console.error(`Failed to fetch threshold data: ${e}`);
	title = "Public Threshold";
	description = "View a continuous benchmarking threshold";
}
---

<PerfLayout
  title={title}
  titleFmt={(title) => `🚨 ${title}`}
  description={description}
  published={jsonThreshold?.created}
  modified={jsonThreshold?.modified}
>
  { notFound ?
  <section class="section">
    <div class="container">
      <div class="columns is-mobile">
        <div class="column">
          <h1 class="title is-1">Threshold Not Found</h1>
          <hr />
          <p>Could not find Threshold <code>{params.threshold}</code> for Project <code>{params.project}</code></p>
          <p>The Project may be private or the Threshold may not exist.</p>
          <br />
          <a class="button" href={`/perf/${params.project}`}>Go to Project</a>
        </div>
        <div class="column">
          <Tetris />
        </div>
      </div>
    </div>
  </section>
  :
  <PublicThreshold client:only="solid-js" apiUrl={BENCHER_API_URL} params={params} data={jsonThreshold} />
  }
</PerfLayout>
