---
import openapi from "../../../../public/download/openapi.json";
import slugify from "slugify";
import {MethodKind, Method, HeadersKind} from "./method.ts";
import PathParameters from "./PathParameters.astro";
import QueryParameters from "./QueryParameters.astro";
import BodyParameters from "./BodyParameters.astro";
import Headers from "./Headers.astro";
import Endpoint from "./Endpoint.astro";

interface Props {
  path: string;
  method: MethodKind;
  headers: HeadersKind;
  cli: string;
  index: number;
}

const { path, method, headers, cli, index } = Astro.props;
const operation = openapi?.paths?.[path]?.[method];
const id = slugify(`${method}-${path}`);
const methodClass = new Method(method);
---

<h2 id={id} class="title is-4" style={index > 0 ? "margin-top: 6rem;" : ""}>
  {operation?.summary}
  <a href={`#${id}`}>
    <i class="fas fa-link" aria-hidden="true" style="padding-left: 0.3em; color: #fdb07e;" />
  </a>
</h2>
<hr />
<div class="columns">
  <div class="column">
    <p>{operation?.description}</p>
    <Headers headers={headers} />
    <PathParameters parameters={operation?.parameters} />
    <QueryParameters path={path} parameters={operation?.parameters} />
    <BodyParameters path={path} requestBody={operation?.requestBody} />
  </div>
  <div class="column">
    <div class="level">
      <div class="level-left">
          <div class="level-item">
              <span class={`tag ${methodClass.color()} is-medium is-rounded`}>{methodClass.name()}</span>
          </div>
          <div class="level-item">
              <p>{path}</p>
          </div>
      </div>
    </div>
    <Endpoint />
    <div class="card">
      <header class="card-header">
          <p class="card-header-title">Bencher CLI</p>
      </header>
      <pre><code>bencher {cli}</code></pre>
    </div>
    <br />
    <a class="button is-fullwidth" href="/download/openapi.json">View OpenAPI Spec</a>
  </div>
</div>
