---
import { getCollection } from "astro:content";
import DocsLayout from "../../layouts/docs/DocsLayout.astro";

const tutorial = await getCollection("tutorial");
tutorial.sort((a, b) => a.data.sortOrder - b.data.sortOrder);

const how_to = await getCollection("how_to");
how_to.sort((a, b) => a.data.sortOrder - b.data.sortOrder);

const explanation = await getCollection("explanation");
explanation.sort((a, b) => a.data.sortOrder - b.data.sortOrder);

const reference = await getCollection("reference");
reference.sort((a, b) => a.data.sortOrder - b.data.sortOrder);

const title = "Bencher Docs";
const description =
  "Table of contents for the Bencher documentation. Learn how to setup continuous benchmarking for your project.";
---

<DocsLayout title={title} description={description} heading={title}>
  <div class="menu">
    <p class="menu-label">Tutorial</p>
    <ul class="menu-list">
      {
        tutorial.map((page) => (
          <li>
            <a href={`/docs/tutorial/${page.slug}`}>{page.data.heading}</a>
          </li>
        ))
      }
    </ul>
    <p class="menu-label">How To</p>
    <ul class="menu-list">
      {
        how_to.map((page) => (
          <li>
            <a href={`/docs/how-to/${page.slug}`}>{page.data.heading}</a>
          </li>
        ))
      }
    </ul>
    <p class="menu-label">Explanation</p>
    <ul class="menu-list">
      {
        explanation.map((page) => (
          <li>
            <a href={`/docs/explanation/${page.slug}`}>{page.data.heading}</a>
          </li>
        ))
      }
    </ul>
    <p class="menu-label">Reference</p>
    <ul class="menu-list">
      <li>
        <a href="/docs/reference/api">REST API</a>
      </li>
      <li>
        <a href="/docs/reference/architecture">Architecture</a>
      </li>
      {
        reference.map((page) => (
          <li>
            <a href={`/docs/reference/${page.slug}`}>{page.data.heading}</a>
          </li>
        ))
      }
    </ul>
  </div>
</DocsLayout>
