---
import { getCollection } from "astro:content";
import LearnLayout from "../../../layouts/docs/LearnLayout.astro";

const rust = await getCollection("rust");
rust.sort((a, b) => a.data.sortOrder - b.data.sortOrder);

const title = "How to Benchmark Code";
const description = "Learn how to benchmark code in C#, C++, Go, Java, Python, Ruby, Rust, and more!";
---

<LearnLayout title={title} description={description} heading={title}>
  <div class="menu">
    <a class="menu-label" href="/learn/benchmarking/rust">Rust</a>
    <ul class="menu-list">
      {
        rust.map((page) => (
          <li>
            <a href={`/learn/benchmarking/rust/${page.slug}`}>{page.data.title}</a>
          </li>
        ))
      }
    </ul>
  </div>
</LearnLayout>
