---
import BaseLayout from "../BaseLayout.astro";
import ConsoleNavbar from "../../components/navbar/ConsoleNavbar";
import Notification from "../../components/site/Notification";
import type { Params } from "astro";
import AnonRedirect from "../../components/console/redirects/AnonRedirect";

interface Props {
  apiUrl: string;
  params: Params;
  title: string;
  suppressNotification?: undefined | boolean;
}

const { apiUrl, params, title, suppressNotification } = Astro.props;
const description = "Sign up for Bencher! Add continuous benchmarking to your project and catch performance regressions in CI.";
---

<BaseLayout title={title} description={description}>
  <ConsoleNavbar client:only="solid-js" slot="navbar" apiUrl={apiUrl} params={params} />
  <AnonRedirect client:only="solid-js" path="/auth/login" />
  <div class="is-widescreen">
    <div class="columns is-reverse-mobile">
      <div class="columns">
        <div class="column is-narrow">
          <slot name="menu" />
        </div>
      </div>
      <div class="column is-10">
        <Notification client:only="solid-js" suppress={suppressNotification} />
        <section class="section">
          <div class="continer">
            <slot />
          </div>
        </section>
      </div>
    </div>
  </div>
</BaseLayout>
