---
import DocsLayout from "../../../../layouts/docs/DocsLayout.astro";
import { getCollection } from "astro:content";
import AuthOverride from "../../../../components/auth/AuthOverride";
import AddAnApiToken from "../../../../components/docs/override/AddAnApiToken";
import { Language } from "../../../../i18n/ui";
import Disclosure from "../../../../components/docs/Disclosure";
import { Collection } from "../../../../content/config";

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const pages = await getCollection(Collection.tutorial);
  return pages.map(page => {
    const [lang, ...slug] = page.id.substring(0, page.id.lastIndexOf('.'))?.split('/');
    return { params: { lang, slug: slug.join('/') || undefined }, props: page }
  }).filter(page => page.params.slug === "quick-start");
}
// 2. When it's time to render, you can get the entry directly from the prop
const { lang, slug } = Astro.params;

const signupId = () => {
  switch (lang) {
    case Language.de:
      return "melden-sie-sich-für-bencher-cloud-an";
    case Language.es:
      return "regístrate-en-bencher-cloud";
    case Language.fr:
      return "inscrivez-vous-à-bencher-cloud";
    case Language.ja:
      return "ベンチャー-クラウド-にサインアップ";
    case Language.pt:
      return "inscreva-se-para-o-bencher-cloud";
    case Language.ru:
      return "зарегистрируйтесь-в-облаке-bencher";
    case Language.zh:
      return "注册bencher-cloud";
    default:
      return "";
  }
}

// ベンチャー クラウド
// ベンチャー
const signupText = () => {
  switch (lang) {
    case Language.de:
      return "Sie sind für Bencher Cloud angemeldet";
    case Language.es:
      return "Estás registrado en Bencher Cloud";
    case Language.fr:
      return "Vous êtes inscrit à Bencher Cloud";
    case Language.ja:
      return "ベンチャー クラウド にサインアップしています";
    case Language.pt:
      return "Você está inscrito no Bencher Cloud";
    case Language.ru:
      return "Вы зарегистрированы в Bencher Cloud";
    case Language.zh:
      return "您已注册 Bencher Cloud";
    default:
      return "You are signed up for Bencher Cloud";
  }
}
const tokenId = () => {
  switch (lang) {
    case Language.de:
      return "fügen-sie-einen-api-token-hinzu";
    case Language.es:
      return "añadir-un-token-de-api";
    case Language.fr:
      return "ajouter-un-token-api";
    case Language.ja:
      return "api-トークンを追加";
    case Language.pt:
      return "adicione-um-token-de-api";
    case Language.ru:
      return "добавьте-api-токен";
    case Language.zh:
      return "添加一个api令牌";
    default:
      return "";
  }
}
const tokenText = () => {
  switch (lang) {
    case Language.de:
      return "Fügen Sie ein API-Token hinzu";
    case Language.es:
      return "Añadir un token de API";
    case Language.fr:
      return "Ajouter un jeton API";
    case Language.ja:
      return "API トークンを追加する";
    case Language.pt:
      return "Adicionar um token de API";
    case Language.ru:
      return "Добавить токен API";
    case Language.zh:
      return "添加 API 令牌";
    default:
      return "Add an API Token";
  }
}

const page = Astro.props;
const { Content } = await page.render();
---

<DocsLayout
  title={page?.data?.title}
  description={page?.data?.description}
  heading={page?.data?.heading}
  lang={lang}
>
  <Content />
  <AuthOverride client:only="solid-js" elementId={signupId()}>
    <h4 id={signupId()}>✅ {signupText}</h4>
  </AuthOverride>
  <AuthOverride client:only="solid-js" elementId={tokenId()}>
    <h4 id={tokenId()}>
      <AddAnApiToken client:only="solid-js" text={tokenText()} />
    </h4>
  </AuthOverride>

  <Disclosure page={slug} lang={lang} />
</DocsLayout>
