---
import DocsLayout from "../../../../layouts/docs/DocsLayout.astro";
import { Content } from "../../../../content/tutorial/fr/quick-start.mdx";
import * as quickStart from "../../../../content/tutorial/fr/quick-start.mdx";
import AuthOverride from "../../../../components/auth/AuthOverride";
import AddAnApiToken from "../../../../components/docs/override/AddAnApiToken";
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  return [];
}
// 2. When it's time to render, you can get the entry directly from the prop
const page = Astro.props;
const { Content } = await page.render();

const signupId = "signup-for-bencher-cloud";
const tokenId = "add-an-api-token";
---

<DocsLayout
  title={quickStart.frontmatter.title}
  description={quickStart.frontmatter.description}
  heading={quickStart.frontmatter.heading}
>
  <Content />
  <AuthOverride client:only="solid-js" elementId={signupId}>
    <h4 id={signupId}>✅ You are signed up for Bencher Cloud</h4>
  </AuthOverride>
  <AuthOverride client:only="solid-js" elementId={tokenId}>
    <h4 id={tokenId}>
      <AddAnApiToken client:only="solid-js" />
    </h4>
  </AuthOverride>
</DocsLayout>
